.title{
	background: #f1f1f1;
	padding-top: 1em;
}
section{
	padding: 2em 0;
}
article{
	padding: 4em 0;
}

hr{
  @include outer-container;
}

// LINKS
a.readmore{
  font-size: 0.8rem;
  margin-bottom: 1rem;
  float: right;
  text-decoration: none;
  color: $key-west;
  border-bottom: 1px solid transparent;
  &:hover{
    color: $blueberry;
    border-bottom: 1px solid $blueberry;
  }
}


.full-width-block{
	width: 100%;
}

.full-width-block--fresh-mint{
	background-color: $fresh-mint;
}

.full-width-block-header{
	@include outer-container;
	padding: 1em 0;
}




