.filter {
  // @include outer-container;
  @include clearfix;
}

  .filter__list {

  }

  .filter__list__title {

  }

  .filter__list__item {
    @include span-columns(4);
    @include omega(3n);
  }

  .filter__list__item__checkbox {
    float: left;
    margin-right: 0.6em;
    margin-top: .15em;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .filter__list__item__label {
    float: left;
  }
