aside{
	.panel{
		position: relative;
		dl{
			dd{
				padding: .8em 0 1em 0;
				border-bottom: 1px solid #ccc;
				&:last-child{
					border-bottom: none;
					padding-bottom: 0;
					}
				a{
					text-decoration: none;
					color: $key-west;
					&:hover{
						color: $blueberry;
					}
					&:before {
						content: "\00bb";
						position: absolute;
						padding-right: 1.5em;
						right: 0;
					}
				}
			}
		}
	}
}