section{
	padding: 2em 0;
}
article{
	padding: 4em 1em;
	@include outer-container;
}

.full-width-container{
  width: 100%;
}

.full-width-container--fresh-mint{
  background-color: $fresh-mint;
}

.full-width-container--black-coconut{
  background-color: $black-coconut;
  color: #fff;
}

.centered-container{
  @include outer-container;
}

.two-third{
  @include span-columns(8);
  padding-right: 1em;
}

.panel{
  background: #f1f1f1;
  padding: 1em;
  position: relative;
  margin-bottom: 2em;
}
