//
// typography
//
// taken from https://github.com/lchamb/typography/blob/master/scss/_typography.scss


$base-font-size:          100% !default;
$base-line-height:        120% !default;
$em-base:                18px !default;

$paragraph-margin:        0.75em;

// every font is different
// scales that look good with one font will not look good with another
// pls experiment
$serif-font-family:       'newslabregular', georgia, serif;
$sans-serif-font-family:	'source-sans-pro', helvetica, arial, sans-serif;
$meditech: arial;

$headings-font-family:    $serif-font-family;
$body-font-family:        $sans-serif-font-family;

$heading-text-color:      $blueberry;
$body-text-color:         $black-coconut;
$text-accent-color:       #bc131a;
$text-muted-color:        #889;


// weights
$thin: 100;
$extralight: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$heavy: 800;
$black: 900;

html,
body {
  font-size: 100%;
  // prevents ios safari from zooming on orientation change (maybe)
  // -webkit-text-size-adjust: none;
}

// body typography
body {
  color: $body-text-color;
  font-family: $body-font-family;
}

// headings
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 $paragraph-margin;
  color: $heading-text-color;
  font-family: $headings-font-family;
  line-height: $base-line-height;
  a{
    text-decoration: none;
    color: $key-west;
    border-bottom: none;
    &:hover{
      color: $blueberry;
    }
  }
}


// typographic scale for headings
// built based on your scale
h1, .header-one     { font-size:$base-font-size*2.25; font-family: $headings-font-family; color: $black-coconut; }
h2, .header-two     { font-size:$base-font-size*2; font-family: $headings-font-family; color: $black-coconut; }
h3, .header-three   { font-size:$base-font-size*1.75; font-family: $headings-font-family; color: $black-coconut; }
h4, .header-four    { font-size:$base-font-size*1.5; font-family: $headings-font-family; color: $black-coconut; }
h5,h6, .header-five { font-size:$base-font-size*1.25; font-family: $headings-font-family;color: $text-muted-color; }

// paragraph text
p {
  margin: 0 0 $paragraph-margin;
  font-family: inherit;
  font-size: 1.15em;
  font-weight: normal;
  line-height: $base-line-height;
  a{
  color: $key-west;
  text-decoration:none;
  border-bottom: 1px solid $key-west;
  &:hover{
    color: $blueberry;
    }
  }
}

// lists
ul,
ol {
  padding-left: 1.5em;
  li {
    line-height: $base-line-height;
    font-size: 1.15em;
    margin-bottom: 1em;
  }
}

dl {
  margin: 0 0 $paragraph-margin;
  line-height: $base-line-height;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 0.5em;
}

// blockquotes
blockquote {
  position: relative;
  margin: 1.5em 1em 1.5em 3em;
  font-size: 1.15em;
  &:before {
    content: "“";
    display: block;
    top: 0.1em;
    left: -0.5em;
    font-size: 10em;
    color: $text-muted-color;
    line-height: 1;
  }
}


